*.[oa]		# игнорировать файлы заканчивающиеся на .o или .a
*~		# игнорировать файлы заканчивающиеся на ~

# комментарий - это игнорируется
*.a		# пропускать файлы, заканчивающиеся на .a
!lib.a		# но отслеживать файлы lib.a, несмотря на пропуск файлов на .a
/TODO		# игнорировать тольо корневой файл TODO, а не файлы вида subdir/TODO
build/		# игнорировать все файлы в папке build/
doc/*.txt	# игнорировать doc/notes.txt, но не doc/server/arch.txt